.main-about h1{
  text-align: center;
}


.about,
.team,
.mission {   
  margin:50px 200px; 
  text-align: center;
  box-shadow: 5px 10px #888888;
  border: 2px solid black;
}

.team-member {
    text-align: center;
    margin-top: 20px;
}

.team-member img {
    border-radius: 50%;
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

