@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Diplomata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');

body{
    margin: 0;
    padding: 0;
}

.logo img{
    height:10vh;
}

header{
    display:flex;
    height:10vh;
    background: #ff80c0 ;
}

.navbar ul{
    display:flex;
    justify-content:space-around;
    list-style: none;   
    width: 50vw; 
    margin-top: 30px;
   

}

.navbar ul li{
    font-family: "Crimson Text", serif;
    font-size:20px;
    border-radius: 10px;
}

.navbar a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.home-main{
    display:flex;
}

.left{
    flex-basis: 60%;
    text-align: center;
    align-content: center;
}

.right{
    flex-basis: 40%;
}

.left h1{
    font-family: "Diplomata", serif;
  font-size: 40px;
}

.left p{
    font-family: "Ruthie", cursive;
    font-size:30px;
}

.navbar li:hover{
    background-color: #f1f1f1;
}


/* Dropdown Menu Styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#ff80c0 ;
    min-width: 160px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/* Footer Styles */
footer {
    background-color: #ff00ff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer {
    width: 80%;
    margin: auto;
    bottom: 0;
  }
  

